<div class="container">
  <div class="row">
    <%= render 'users/user', book:@book, user:@user %>

    <div class="col-8">
      <h2>Books</h2>
      <table class="table table-hover table-inverse">
          <thead>
            <tr>
              <th></th>
              <th>Title</th>
              <th>Opinion</th>
              <th colspan="3"></th>
            </tr>
          </thead>
        <tbody></tbody>
        </table>
      <% @books.each do |book| %>
      <div>
        <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
        <%= book.title %>
        <%= book.body %>
      </div>
      <% end %>
    </div>
  </div>
</div>
