<div class = "container">
  <div class = "row">
    <div class = "mx-auto">
      <h1>welcome to <strong>Bookers!!</strong></h1>
      <P>In <strong>Bookers</strong>,</P>
      <p>you can share and exchange  your opinions , inpressions , and emotions</p>
      <p> about various books!</p>
      <div class = "btn-wrapper col-10 mx-auto">
        <div class = "row">
          <% if user_signed_in? %>
          <a class = "btn btn-info btn-sm mb-3 btn-block" href="users/id">Log in</a>
          <% else %>
          <a class = "btn btn-info btn-sm mb-3 btn-block" href="user_path(current_user.id">Log in</a>
          <% end %>
        </div>
        <div class = "row">
          <a class = "btn btn-success btn-sm btn-block" href="/users/sign_up">Sign up</a>
        </div>
      </div>
    </div>
  </div>
</div>