<h1>welcome to <strong>Bookers!!</strong></h1>
<P>In <strong>Bookers</strong>,</P>
<p>you can share and exchange  your opinions , inpressions , and emotions</p>
<p> about various books!</p>
<a href="/users/sign_in">Log in</a>
<a href="/users/sign_up">Sign up</a>