<div class = "container">
  <div class = "row">
    <div class = "mx-auto">
      <h1>welcome to <i class="fas fa-book"></i><strong>Bookers!!</strong></h1>
      <P>In <i class="fas fa-book"></i><strong>Bookers</strong>,</P>
      <p>you can share and exchange  your opinions , inpressions , and emotions</p>
      <p> about various books!</p>
      <div class = "btn-wrapper col-10 mx-auto">
        <div class = "row">
          <a class = "btn btn-info btn-sm mb-3 btn-block" href="users/sign_in">Log in</a>
        </div>
        <div class = "row">
          <a class = "btn btn-success btn-sm btn-block" href="/users/sign_up">Sign up</a>
        </div>
      </div>
    </div>
  </div>
</div>